<div class="container text-center pt-5">
    <div class="fs-1 fw-bold text-danger pt-5 pb-5">WYSTĄPIŁ BŁĄD. PRZEPRASZAMY ZA UTRUDNIENIA.</div>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Powrót do strony głównej</a>
</div>
