@model LoginViewModel

<div class="container" style="max-width: 500px">
    <div class="text-center pt-3 pb-3 fs-5 fw-bold">Witaj w organizatorze finansów domowych!</div>
    <div class="text-center">Zaloguj się, aby rozpocząć pracę</div>
    <form asp-controller="Home" asp-action="Login" method="post">
        <div class="row pt-3">
            <div class="col-4">
                <label asp-for="Username" class="col-form-label"></label>
            </div>
            <div class="col-8">
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-4">
                <label asp-for="Password" class="col-form-label"></label>
            </div>
            <div class="col-8">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col text-center text-danger">@Html.ValidationMessage("Error")</div>
        </div>

        <div class="row pt-3">
            <div class="col text-center">
                <button type="submit" class="btn btn-primary">Zaloguj</button>
            </div>
        </div>
    </form>

    <div class="row pt-3">
        <div class="col text-left">
            <a asp-controller="Home" asp-action="Register">Nie masz jeszcze konta? Zarejestruj się!</a>
        </div>
    </div>
</div>
