.side {
    height: calc(100% - 58px);
    width: 16%;
    position: fixed;
    top: 58px;
    overflow-x: hidden;
    left: 0;
}

.main {
    height: calc(100% - 58px);
    width: 84%;
    position: fixed;
    top: 58px;
    overflow-x: hidden;
    right: 0;
}